

/* Start:/local/templates/inner_efsol/components/rezonans/catalog.section/solutions-top/style.css?1583242745105*/
.catalog-price {
	 color:red;
}
div.catalog-section table td {
	padding-right:10px;
	padding-top:10px;
}

/* End */


/* Start:/local/templates/inner_efsol/components/rezonans/catalog.section/solutions/style.css?1583242745105*/
.catalog-price {
	 color:red;
}
div.catalog-section table td {
	padding-right:10px;
	padding-top:10px;
}

/* End */
/* /local/templates/inner_efsol/components/rezonans/catalog.section/solutions-top/style.css?1583242745105 */
/* /local/templates/inner_efsol/components/rezonans/catalog.section/solutions/style.css?1583242745105 */
